# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

backend/output/*
backend/output/__pycache__/
!backend/output/.gitkeep
node_modules
dist
dist-ssr
*.local

__pycache__/
*.py[cod]
*.pyo

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
